.screen {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.simpleLogo {
  width: 6rem;      
  height: auto;
  padding: 0.3rem;

  object-fit: contain;
  border: 1px solid var(--primary-accent-hover);
  border-radius: 10px;
}
